@model OnlineExaminationSystem.Areas.Admin.ViewModels.QuestionBankVM
@using OnlineExaminationSystem.DAL.Entity;
@{
    ViewBag.Title = "Add Questions";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- [ breadcrumb ] start -->
<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-settings bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Questions</h5>
                    <span>Add new Questions here</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="index-2.html"><i class="feather icon-settings"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">@ViewBag.Title</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->
<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page body start -->
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("AddQuestion", "QuestionBank", FormMethod.Post, new { @class = "validate", novalidate = true }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.QuestionCategoryID)
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label class="control-label" for="QuestionType">Question Type</label><br />
                                            @foreach (var item in Enum.GetValues(typeof(QuestionType)).Cast<QuestionType>().ToList())
                                            {
                                                <span style="margin: 5px;">
                                                    @Html.RadioButtonFor(model => model.QuestionType, item, new { id = item, @class = "Status", required = true })
                                                    <label for="@item">@item.DisplayName()</label>
                                                </span>
                                            }
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="Address" class="col-form-label">Question</label><span class="text-danger">*</span>
                                                @Html.TextAreaFor(model => model.Question, 3, 0, new { @class = "form-control", placeholder = "Enter Question", required = true })
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Question is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="display: none" id="OptionDIV">
                                        @{
                                            var counter = 0;
                                            for (int i = 0; i < 4; i++)
                                            {
                                                counter++;
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-form-label" for="Option">Option @counter</label>
                                                        @Html.EditorFor(model => model.OptionBank[i].OptionTxt, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Option " + counter } })
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Option @counter required
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="form-row">

                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="Address" class="col-form-label">Answer</label><span class="text-danger">*</span>
                                                @Html.EditorFor(model => model.Answer.AnswerText, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Answer", required = true } })
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Answer is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <button class="mb-4 mt-n2 btn btn-primary" type="submit"><i class="fa fa-upload"></i> Save</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/Tinymc.js" referrerpolicy="origin"></script>
    <script src="~/Scripts/Editor.js"></script>
    <script src="~/Scripts/AddQuestion.js"></script>
}